github "DaveWoodCom/XCGLogger" 
github "SnapKit/SnapKit" 
github "SwiftyJSON/SwiftyJSON"  
github "cbpowell/MarqueeLabel" 
github "hackiftekhar/IQKeyboardManager" 
github "jdg/MBProgressHUD"
github "BrikerMan/BMPlayer" 
github "ninjaprox/NVActivityIndicatorView"  
github "WenchaoD/FSCalendar"
github "CoderMJLee/MJExtension"
github "CoderMJLee/MJRefresh"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "Alamofire/AlamofireNetworkActivityIndicator"
github "ibireme/YYText"
github "MessageKit/MessageKit"
#github "QMUI/QMUI_iOS" 
#github "ViccAlexander/Chameleon"
#github "raulriera/TextFieldEffects" 
#github "soffes/SAMKeychain" 
#github "devxoul/Then"
#github "xmartlabs/XLForm"
#github "ccgus/fmdb"


